@font-face {
  font-family: lalezar;
  src: url(./fonts/Lalezar-Regular.ttf);
}
* {
  font-family: lalezar;
}
html {
  font-size: 18px;
  height: 100%;
}
body {
  background: rgb(247, 65, 140);
  background: linear-gradient(
    315deg,
    rgba(247, 65, 140, 1) 0%,
    rgba(251, 171, 102, 1) 100%
  );

  background-repeat: no-repeat;
}

.form {
  box-shadow: 1px 1px 13px;
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  width: 650px;
  height: 600px;
  margin: 70px auto 0px;
}
input {
  /* margin: 10px auto; */
  text-align: center;
  height: 30px;
  display: block;
  border-radius: 10px;
  margin: 4px auto;
}
.form form {
  margin: auto;
}
.form a {
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
}
.status {
  text-align: center;
  padding: 20px 100px;
  margin: 0;
}

.profile h1,
h4,
h6,
p {
  color: #1f1a1a;
  text-align: center;
}

.span {
  display: block;
  height: 100px;
  margin: 20px;
}
