@font-face {
  font-family: Iransans;
  src: url(./fonts/Iran/IRANSansWeb.ttf);
}
:root {
  --primaryColor: rgb(53, 148, 221)
    linear-gradient(
      90deg,
      rgba(53, 148, 221, 1) 0%,
      rgba(69, 99, 219, 1) 33%,
      rgba(80, 54, 213, 1) 66%,
      rgba(91, 22, 208, 1) 100%
    );
}
/* base style (rests and ... )  */
* {
  box-sizing: border-box;
  padding: 0px;
}
body,
html {
  background: #f5f5f5;
  font-family: Iransans;
}

a {
  display: block;
  color: #707070;
  text-decoration: none;
}
li > a:hover,
h1 > a:hover {
  box-shadow: 3px 3px 10px #333333;

  color: #ddd;
  /* inja ie range bahal ezafe mikonam */
  background: var(--primaryColor);
  border-radius: 5px;
}
li {
  list-style-type: none;
}
/* utility hamo inja tarif mikonam */

#file {
  display: none;
}

.d-message {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background: #fff8b5;
  color: #000;
}
.btn {
  background: var(--primaryColor);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 20px 0px;
}
label,
input {
  display: block;
}
.l-form {
  border-radius: 10px;
  text-align: center;
  width: 500px;
  font-size: 1.1rem;
  height: 100vh;
  box-shadow: 2px 2px 5px rgba(80, 54, 213, 1);

  color: #000;
  padding: 30px 20px;
}
.l-input {
  text-align: center;
  margin-bottom: 20px;
}
.l-input > input {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  margin: auto;
  padding: 10px 20px;
  width: 300px;
}

.p-selected {
  box-shadow: 3px 3px 10px #333333;

  color: #ddd;
  background: var(--primaryColor);
  border-radius: 5px;
}
.nav {
  padding: 20px 15px;
}
.nav-0 {
  letter-spacing: 0.5rem;
  padding: 10 0px;
  margin: 10px 0px;
}
.box-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  /* flex-wrap: wrap; */
  /* grid-gap: 0.5rem;
  grid-template-columns: (3, 1fr); */
}
.box {
  /* grid-column: 1 / span 3; */
  margin: 0px 10px 10px;
  padding: 20px;
  background: #f1f1f1;
  border: 1px solid #d3d3d3;
  line-height: 1.5rem;
}
/*------------------header ----------------------- */
.nav-wrap {
  text-align: center;
  overflow: auto;
}

.footer-wrap {
  text-align: center;
}
#header {
  margin-bottom: 20px;
}
/*------------------main ----------------------- */

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
