<!DOCTYPE html>
<html dir="rtl" lang="Fa">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود</title>
  </head>
  <body>
    <div class="form">
      <span class="span"> </span>
      <h4 class="status">{{ message }}</h4>
      <br />
      <form action="" method="POST">
        <input type="tel" name="phone" placeholder="شماره تماس" /> <br />
        <input type="password" name="password" placeholder="رمز ورود" />
        <br />
        <input type="submit" value="ورود" />
      </form>
      <!-- <a href="#">رمزت رو فراموش کردی؟</a> <br /> -->
      <a href="./register.html">هنوز ثبت نام نکردی ؟</a>
    </div>
  </body>
</html>
