<!DOCTYPE html>
<html dir="rtl" lang="Fa">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ثبت نام</title>
  </head>
  <body>
    <div class="form">
      <span class="span"> </span>
      <h4>{{ message }}</h4>
      <br />
      <form action="" method="POST">
        <!-- <input type="text" name="user_name" placeholder="نام کاربری" /> <br /> -->
        <input type="text" name="name" placeholder="نام و نام خانوادگی" />
        <br />
        <input type="tel" name="phone" placeholder="شماره همراه" /> <br />
        <input
          dir="ltr"
          type="email"
          name="email"
          placeholder="email@planner.com"
        />
        <br />
        <input type="password" name="password" placeholder="رمز ورود" /> <br />
        <!-- <input type="file" name="usr_pic" accept="image/*" /> <br /> -->

        <input type="submit" n value="ثبت" />
      </form>
      <a href="./login.html">قبلا ثبت نام کردی؟</a> <br />
    </div>
  </body>
</html>
